<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.FileAppender">
    <file value="C:\\app.log" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %logger %browseragent %requesturl %userhostaddress %message %newline %G" />
    </layout>

    
  </appender>


  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="Data Source=.;Initial Catalog=FileEncryption;Integrated Security=True" providerName="System.Data.SqlClient" />
    <commandText value="INSERT INTO LOG4NET ([Date],[Thread],[Level],[USER],[REQUESTID], [Logger],[Message],[Exception], [UserHostAddress] , [RequestUrl] , [BrowserAgent]) VALUES (@log_date, @thread, @log_level,@user,@requestid, @logger, @message, @exception, @userhostaddress ,@requesturl,@browseragent)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user" />
      <dbType value="String" />
      <size value="55" />
      <layout type="log4net.Layout.PatternLayout" value="%property{user}" />
    </parameter>

    <parameter>
      <parameterName value="@requestid" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{requestid}" />
    </parameter>

    <parameter>
      <parameterName value="@userhostaddress" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{userhostaddress}" />
    </parameter>

    <parameter>
      <parameterName value="@requesturl" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{requesturl}" />
    </parameter>

    <parameter>
      <parameterName value="@browseragent" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{browseragent}" />
    </parameter>

    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="AdoNetAppender" />
  </root>
</log4net>

