
.loaderOverlay {
    position: fixed;

    right: 0;

    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 9999;
    height : 110%;
}

.loader {
    padding-left: 17px;
    border: 13px solid #f3f3f3;
    border-radius: 50%;
    border-top: 13px solid rgb(34, 85, 130);
    width: 90px;
    height: 90px;
    -webkit-animation: spin .6s linear infinite; /* Safari */
    animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    padding-right: 5px !important;
    padding-left: 5px !important;

    padding-top: 50px;
    padding-bottom: 20px;
  
}

.mouseOverHover:hover {
    background-color: #122d45;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.paddingRight10px {
    padding-right: 10px !important;
}

.paddingRight40px {
    padding-right: 40px !important;
}

.paddingLeft5px {
    padding-left: 5px !important;
}


.paddingLeft40px {
    padding-left: 60px !important;
}

.ui-widget-overlay {
    background: rgba(66, 20, 20, 0) !important;
}



.colorDisabled {
    color: #efb9b9;
}







.pnc-vertical-widget-button {
    font-size: 24px;
    width: 50%;
    cursor: pointer;
    height: 100%;
    background-color: rgb(26, 35, 126);
}

    .pnc-vertical-widget-button[disabled] {
        background-color: rgb(224, 202, 202);
    }


    .pnc-vertical-widget-button:hover {
        background-color: #883535;
    }

    .pnc-vertical-widget-button[disabled]:hover {
        background-color: rgb(224, 202, 202);
        cursor: not-allowed;
    }


.box {
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.38);
    text-align: center;
    max-width: 450px;
    

    width: 100%;
    height: 135px;
    background-color: rgb(26, 35, 126);
    /*background-color: #ad4343;*/
    margin: 5% auto 0 auto;
    overflow: hidden;
    position: relative;
}

    .box img {
        display: block;
    }

.overlay {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141c65;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.38);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
}

.box-hover .overlay {
    opacity: 1;
}

.box-hover {
    background: #141c65;
    cursor: pointer;
    box-shadow: none;
}

.overlay .plus:before {
    content: "+";
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255,255,255,.85);
    font-size: 6rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.overlay.clicked .plus:before {
    content: "-";
}

.description {
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: lightblue;
    bottom: -30%;
    text-align: center;
    transition: bottom 0.25s ease;
}

    .description:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        border-style: solid;
        border-color: transparent transparent lightblue transparent;
        border-width: 16px;
        top: 0;
        -webkit-transform: translate(-50%, 100%);
    }

.overlay.clicked + .description {
    bottom: 0%;
}

    .overlay.clicked + .description:after {
        -webkit-transform: translate(-50%, -100%);
    }

[class*="col-"] {
    padding-top: 5px !important;


}


.fontawesomeIconSpace{
   
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

